
@{
    ViewBag.Title = "Cards";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="main-content">
    <!-- content -->
    <div class="container-fluid content-top-gap">
        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Elements</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cards</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- cards -->
        <section class="template-cards">
            <!-- Card Columns -->
            <div class="card card_border mb-5">
                <div class="cards__heading">
                    <h3>Card Columns</h3>
                </div>
                <div class="card-body">
                    <div class="card-columns">
                        <div class="card">
                            <img src="Assets/images/cart.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title that wraps to a new line</h5>
                                <p class="card-text mb-4">
                                    This is a longer card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.
                                </p>
                            </div>
                        </div>
                        <div class="card p-3">
                            <blockquote class="blockquote mb-0 card-body">
                                <p class="mb-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                </p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card">
                            <img src="Assets/images/template2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text  mb-4">
                                    This card has supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card bg-primary text-white text-center p-3">
                            <blockquote class="blockquote mb-0">
                                <p class="text-white mb-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                    erat.
                                </p>
                                <footer class="blockquote-footer text-white">
                                    <small>
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text  mb-4">This card has a regular title and short paragraphy of text below it.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="Assets/images/dashboard.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="card p-3 text-right">
                            <blockquote class="blockquote mb-0">
                                <p class="mb-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                </p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text  mb-4">
                                    This is another card with title and supporting text below. This card has
                                    some
                                    additional content to make it slightly taller overall.
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Card Columns -->
            <!-- Grid Columns -->
            <div class="card card_border mb-5">
                <div class="cards__heading">
                    <h3>Grid Columns</h3>
                </div>
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col mb-4">
                            <div class="card">
                                <img src="Assets/images/template2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        This is a longer card with supporting text below as a natural lead-in to
                                        additional
                                        content. This content is a little bit longer.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="Assets/images/desk.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        This is a longer card with supporting text below as a natural lead-in to
                                        additional
                                        content. This content is a little bit longer.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="Assets/images/cart.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        This is a longer card with supporting text below as a natural lead-in to
                                        additional
                                        content.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="Assets/images/dashboard.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        This is a longer card with supporting text below as a natural lead-in to
                                        additional
                                        content. This content is a little bit longer.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Grid Columns -->

        </section>
        <!-- //cards -->

    </div>
    <!-- //content -->
</div>
<!-- main content end-->
  </section>


<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- /move top -->


<script src="Assets/js/jquery-3.3.1.min.js"></script>
<script src="Assets/js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="Assets/js/Chart.min.js"></script>
<script src="Assets/js/utils.js"></script>
<!-- //chart js -->
<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="Assets/js/bar.js"></script>
<script src="Assets/js/linechart.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="Assets/js/jquery.nicescroll.js"></script>
<script src="Assets/js/scripts.js"></script>

<!-- close script -->
<script>
    var closebtns = document.getElementsByClassName("close-grid");
    var i;

    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function () {
            this.parentElement.style.display = 'none';
        });
    }
</script>
<!-- //close script -->
<!-- disable body scroll when navbar is in active -->
<script>
    $(function () {
        $('.sidebar-menu-collapsed').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll when navbar is in active -->
<!-- loading-gif Js -->
<script src="Assets/js/modernizr.js"></script>
<script>
    $(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");;
    });
</script>
<!--// loading-gif Js -->